.container {
  font-size: 2rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-left {
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item {
  padding: 5px;
  margin: 5px;
}
